Source: feedservice2-dev
Priority: optional
Maintainer: Ivaylo Dimitrov <freemangordon@abv.bg>
Build-Depends: debhelper (>> 3.0.0), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: feedservice2-dev
Section: libdevel
Architecture: armel
Depends:  libglib2.0-dev
Description: Header files for linking to the closed-source feedservice2 libraries
